@import url("font.css");

* {
    box-sizing: border-box;
}

body, 
footer {
    
    margin: 0;
    color: #333;
    text-align: center;
    font-family: Montserrat, sans-serif;
    padding-left: 16px;
    padding-right: 16px;

}

p {
    font-size: 14px;
 }

a {
    color: #333;
    cursor: pointer;
    text-decoration: none;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: start;
}

.header {
    padding: 8px 0px 8px 0px;
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    border-bottom: 1px solid #EFF5FB;
}

.header__logo {
    
    display: flex;
    align-items: center;
    justify-content: start;
}

.header__logo img {
    height: 34px;
    width: 48;
}

.header__list {
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 16px;
}

@media (min-width: 768px) {
    .header__list{
        display: flex;
    }
}

.header__link, .header__link-dropdown {
    white-space: nowrap;
}

ul {
    list-style: none;
}

.header__link-dropdown::after {
    content: '';
    display: inline-block;
    height: 14px;
    width: 14px;
    margin-left: 5px;
    justify-content: center;
    background: url('./images/svg/arrow-dropdown.svg') no-repeat;
    margin-right: 10px;
    vertical-align: middle;
}

.header__burger {

    display: flex;
    align-items: center;
    justify-content: end;
}

.main__bread-crumbs-list {
    display: flex;
    flex-direction: row;
    margin-left: -40px;
}

.main__bread-crumbs-list a {
    color: rgba(51, 51, 51, 0.70);
    font-size: 12px;
    letter-spacing: 0.25px;
}

.main__bread-crumbs-item-main::after {
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 10px;
    justify-content: center;
    background: url('./images/svg/arrow.svg') no-repeat;
    margin-right: 10px;
    vertical-align: middle;
}

.topics-container {
    display: flex;
    flex-direction: row;
    margin-left: -40px;
    overflow: hidden;
}

.topic-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 8px;
    margin: 0;

}

.topic-item {
    white-space: nowrap;
    border-radius: 24px;
    border: 1px solid #C1C5CD;
    padding: 6px 8px;
}

@media (max-width: 320px) {
    .topic-list {
        flex-wrap: nowrap;
    }

    .topic-item:nth-child(n+3) {
        display: none;
    }
    
    .topic-item:nth-child(-n+2) {
        display: flex;
    }
}

@media (min-width: 321px) and (max-width: 400px) {
    .topic-list {
        flex-wrap: nowrap;
    }
    
    .topic-item {
        flex-wrap: nowrap;
    }
    .topic-item:nth-child(n+3) {
        display: none;
    }
    
    .topic-item:nth-child(-n+2) {
        display: flex;
    }
}

@media (min-width: 401px) and (max-width: 414px) {
    .topic-list {
        flex-wrap: nowrap;
    }
    
    .topic-item {
        flex-wrap: nowrap;
    }
    .topic-item:nth-child(n+4) {
        display: none;
    }
    
    .topic-item:nth-child(-n+3) {
        display: flex;
    }
}

.topic-item a {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
}

.articles-box {
    margin-top: 24px;

}

article {
    max-width: 728px;
    border: solid #DEDEDE;
    border-radius: 20px;
    margin-top: 24px;
}

.articles h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

.articles__img {
    width: 100%;
    height: 300px;
    border-radius: 18px 18px 0px 0px;
    background-position: center;
}

.articles__art1:hover {
    cursor: pointer;
}

.articles__article {
    text-align: start;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 400;
}
.articles__title {
    margin-top: 20px;
    align-self: stretch;
    color: #494949;
}

.articles__author p {
    color: #737373; /* Text 12:18 */
    font-size: 12px;
    align-self: stretch;
    line-height: 18px; /* 150% */
    letter-spacing: 0.25px;
}

.articles__content {
    color: #494949; /* Text 12:18 */
    font-size: 14px;
    line-height: 20px; 
    letter-spacing: 0.25px;
}

.articles__date {
    color: #868686;
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
}

.main__button_container {
    display: flex;
    margin-top: 28px;
    justify-content: center;
    align-items: center;

}

.main__button-more {
    display: flex;
    background-color: #34B3A9;
    color: #ffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    width: 182px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px; 
    border-radius: 4px;
    border: none;
    margin-bottom: 59px;
    cursor: pointer;
}

.footer-container {
    display: flex;
    flex-direction: column;
    background-color: #2963A3;
    justify-content: center;
}

.footer__nav, .footer__subscribe-content {
    display: flex;
    text-align: start;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.footer__list1,
.footer__list2 {
    justify-content: space-between;
    gap: 16px;
}

.footer__link , .footer__subscribe-content{
    color: #FFF;
}

.footer__subscribe-concent {
    color: #BFD0E3;
}