@import url("/fonts/font.css");

* {
    box-sizing: border-box;
}

body, header {
    
    color: #333;
    text-align: center;
    font-family: Montserrat, sans-serif;
    max-width: 1200px;

}

p {
    font-size: 14px;
 }

a {
    color: #333;
    cursor: pointer;
    text-decoration: none;
}

h1 {
    
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: start;
}

main {
    padding: 16px;
}

@media (min-width: 414px) and (max-width: 767px) {
    h1 {
        font-size: 32px;
        line-height: 40px;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 48px;
        line-height: 56px;
    }
}


h2 {
    font-size: 18px;
}

.header {
    padding: 8px 16px;
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    border-bottom: 1px solid #EFF5FB;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1000;
    width: 100vw;
}

.header__logo {
    
    display: flex;
    align-items: center;
    justify-content: start;
}

.header__logo img {
    height: 34px;
    width: 48px;
}

.header__list {
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 16px;
}

@media (min-width: 768px) {
    .header__list{
        display: flex;
    }
}



.header__link, .header__link-dropdown {
    white-space: nowrap;
}

ul {
    list-style: none;
}

.header__link-dropdown::after {
    content: '';
    display: inline-block;
    height: 14px;
    width: 14px;
    margin-left: 5px;
    justify-content: center;
    background: url('./images/svg/arrow-dropdown.svg') no-repeat;
    vertical-align: middle;
}

.header__burger {
    display: none;
    align-items: center;
    justify-content: end;
}

@media (max-width: 767px) {
    .header__burger {
        display: flex;
    }
}

.header__search-psy {
    display: none;
}

@media (min-width: 1024px) {
    .header__search-psy {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .header__button {
        white-space: nowrap;
        background-color: #E3F5F5;
        color: #03B2A5;
        margin-right: 32px;
    }

    .main__top-container {
        margin: 0 30px;
        max-width: 1200px;
    }

    .header {
        max-width: 1200px;
    }
}

@media (min-width: 1280px){
        
    body, header {
    max-width: 1600px;
    border: none;
    }

    .header {
        max-width: 1600px;
    }
    .main__top-container {
        max-width: 1600px;
    }
}

.main__bread-crumbs-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: -40px;
    padding-top: 70px;
}

.main__bread-crumbs-item-current {
    overflow: hidden;
    text-overflow: ellipsis;
}

.main__bread-crumbs-item-main,
.main__bread-crumbs-item-blog,
.main__bread-crumbs-item-current {
    white-space: nowrap;
    max-width: 100%;
}


.main__bread-crumbs-list a {
    color: rgba(51, 51, 51, 0.70);
    font-size: 12px;
    letter-spacing: 0.25px;
}

.main__bread-crumbs-item-main:not(:last-child)::after ,
.main__bread-crumbs-item-blog:not(:last-child)::after {
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    justify-content: center;
    background: url('./images/svg/arrow.svg') no-repeat;
    margin-right: 0px;
    vertical-align: middle;
    opacity: 0.7;
}

.content-box__author {
    font-size: 14px;
    margin: 8px 0px 16px 0px;
    text-align: start;
}

.content-box__author--topic a{
    color: #2963A3;
}

.content-box__top-ancor-links a {
    text-decoration: none;
}

.topics-container {
    display: flex;
    flex-direction: row;
    margin-left: -40px;
    overflow: hidden;
}

.topic-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 8px;
    margin: 0;

}

.topic-item {
    white-space: nowrap;
    border-radius: 20px;
    border: 1px solid #C1C5CD;
    padding: 6px 8px;
    background: rgba(255, 255, 255, 0.70);
}

@media (max-width: 320px) {
    .topic-list {
        flex-wrap: nowrap;
    }

    .topic-item:nth-child(n+3) {
        display: none;
    }
    
    .topic-item:nth-child(-n+2) {
        display: flex;
    }

}

@media (min-width: 321px) and (max-width: 400px) {
    .topic-list {
        flex-wrap: nowrap;
    }
    
    .topic-item {
        flex-wrap: nowrap;
    }
    .topic-item:nth-child(n+3) {
        display: none;
    }
    
    .topic-item:nth-child(-n+2) {
        display: flex;
    }
}

@media (min-width: 401px) and (max-width: 414px) {
    .topic-list {
        flex-wrap: nowrap;
    }
    
    .topic-item {
        flex-wrap: nowrap;
    }
    .topic-item:nth-child(n+4) {
        display: none;
    }
    
    .topic-item:nth-child(-n+3) {
        display: flex;
    }
}

.topic-item a {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
}

.articles-box {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    max-width: 384px;
    border: solid #DEDEDE;
    border-radius: 20px;
    margin-top: 24px;
}

.content-box__top-ancor-links {
    max-width: 100%;
    border: none;
    text-align: start;
    line-height: 24px;
}

@media (max-width: 1439px) {
    .content-box__top-ancor-links--list li:nth-child(n+2):nth-child(-n+3) {
        display: none;
    }

}

blockquote {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 16px;
    background-color: #F3F7FE;
    max-width: 100%;
    border-radius: 16px;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px; 
}

blockquote cite {
    font-weight: 700;
    line-height: 24px;
    font-style: normal; 
}

@media (min-width: 768px) {
    blockquote {
        padding: 24px;
    }
}


.content-box__content {
    max-width: 100%;
    font-size: 16px;
    border: none;
    text-align: start;
    font-weight: 500;
    line-height: 24px;
}

.content-box__content ul{
    color: #03B2A5;
    list-style: disc;
    margin-left: -20px;
    font-size: 24px;
    
}

.content-box__content p{
    color: #333;
    font-size: 14px;
}



.content-box__top-ancor-links ul ul {
    list-style: none;
}

@media (min-width: 1024px) {

    .articles-box section {
        max-width: 460px;
        margin: 12px;
    }
    .articles-box section:nth-child(n+3) {
        max-width: 300px;
        margin: 12px;
    }
    .articles-box {
        max-width: 1290px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}


@media (min-width: 768px) and (max-width: 1023px) {

    .articles-box section {
        max-width: 725px;
        margin: 12px;
    }
    .articles-box section:nth-child(n+3) {
        flex: 50%;
        max-width: 350px;
        margin: 12px;
    }
    .articles-box {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .main__top-container {
        margin: 0 40px;
    }

}


@media (min-width: 414px) and (max-width: 767px) {
    .articles-box section {
        max-width: 384px;
    }
    .articles-box section:nth-child(n+3) {
        max-width: 384px;
    }

    .main__top-container {
        margin: 0 12px;
        max-width: 400px;
    }

    .header {

    }
    
}

@media (max-width: 414px) {
    .articles-box section:nth-child(n+5) {
        display: none;
    }
}


.articles h2 {
    font-weight: 700;
    line-height: 26px;
}

.articles__img {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 206px;
    border-radius: 20px 20px 0px 0px;
    background: no-repeat;
    background-position: center;
}

.articles__img .topic-item {
    display: inline-flex;
    max-width: fit-content;
    margin: 8px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .first-arts {
        width: 100%;
        height: 404px;
    }

    .articles__art {
        justify-content: space-between;
        margin: 0px;
    }
}

.articles__section {
    text-align: start;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 400;
}
.articles__title {
    margin-top: 20px;
    align-self: stretch;
    color: #494949;
}

.articles__author p {
    color: #737373; /* Text 12:18 */
    font-size: 12px;
    align-self: stretch;
    line-height: 18px; /* 150% */
    letter-spacing: 0.25px;
}

.articles__content {
    color: #494949; /* Text 12:18 */
    font-size: 14px;
    line-height: 20px; 
    letter-spacing: 0.25px;
}

.articles__date {
    color: #868686;
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
}

.content-box {
    max-width: 690px;
}

.content-box__story--img {
    display: flex;
    flex-flow: column;
    width: 100%;
    background: no-repeat;
    background-position: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.25px;
    color: #868686;
}

pic-caption {
    padding: 1em 0em;
}

.content-box__content--highlite1-red-spot-block {
    display: flex;
    position: relative;
    text-align: center;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    z-index: 1;
    background: url('./images/svg/highlite-red-spot.png') no-repeat center;
    min-height: 170px;
    align-items: center;
}

.content-box__content--highlite1-red-spot {
    position:absolute;
    z-index: 10;
    top: 300px;
}

.content-box__content--content-picture-box {
    display: flex;
    flex-flow: column;
}

.content-box__content--content-picture-box-column {
    display: flex;
    flex-flow: row;
    max-width: 100%;
}

.content-box__content--content-picture-box-column-element {
    padding-top: 16px;
}

@media (min-width: 768px) {

    .content-box__content--content-picture-box-column-element:first-child {
        padding-right: 16px;
    }
}

@media (max-width: 767px) {
    .content-box__content--content-picture-box-column {
        display: flex;
        flex-flow: column;
    }
}

.content-box__content--page-divider {
    text-align: center;
}

.main__button_container {
    justify-content: center;
}

.main__button_container, 
.banners__element--loading-window-btn,
.banners__element--psychologyst-btn {
    display: flex;
    margin-top: 28px;
    align-items: center;
}

.main__psycho-search-box {
    display: none;
    flex-direction: column;
    max-width: 348px;
    margin-top: 28px;
    justify-content: center;
    text-align: start;
    align-items: start;
    margin-bottom: 40px;
}

@media (min-width: 1024px) {
    .main__psycho-search-box {
        display: flex;
    }
}


button {
    background-color: #34B3A9;
    color: #ffff;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.content-box__content--buttom-links {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: disc;
    color: #2963A3;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

@media (min-width: 1024px) {
    .content-box__content--buttom-links {
        display: flex;
    }
}

.content-box__content--buttom-links-item {
    display: flex;
    white-space: nowrap;
    padding-right: 8px;
    color: #2963A3;
}

.content-box__content--buttom-links-item:not(:last-child)::after {
    content: "\2022";
    margin-left: 8px;
}

.content-box__content--exercise {
    border-radius: 20px;
    padding: 16px;
    margin: 12px 0px;
}

.exercise3 {
    background-color: rgba(3, 178, 165, 0.10);
}

.exercise2 {
    background-color: #FFF3EB;
}

.exercise1 {
    background-color: #FEFAEC;
}

@media (min-width: 1024px) {
    .main-container {
        display: flex;
    }

    main {
        flex: 2;
    }

    .banners-container {
        flex: 1;
        margin-top: 100px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .banners-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 690px;;
    }
    .banners__element {
        flex: 40%;
    }

    .banners__element:nth-child(odd) {
        margin-right: 16px;
    }

}

.banners__element--sessions,
.banners__element--caregiving,
.banners__element--psychologyst,
.banners__element--loading-window {
    border-radius: 20px;
    border: 1px solid #C1C5CD;
    padding: 16px;
    margin: 12px 0px;
    max-width: 374px;
    position: relative;
    overflow: hidden;
}

.banners__element--loading-window {
    background-color: #E6F0FD;
    border: none;
}

.banners__element--sessions-title {
    color: #2963A3;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: start;
}

.banners__element--sessions-title span:first-of-type {
    font-size: 24px;
    line-height: 32px;
}

.banners__element--sessions-price p {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

.banners__element--sessions-title p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #011632;
    font-family: Open Sans;
}

.banners__element--sessions-pics {
    position: absolute;
}

.red-session-pic {
    bottom: -5px;
    right: 55px;
}

.blue-session-pic {
    bottom: -5px;
    right: 0px;
}



.footer__subscribe-email-input {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 0px 100px 0px 16px;
    max-height: 48px;
    border-radius: 4px;
    border: none;
    margin: 0;
}

.footer__subscribe-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.footer__subscribe-container--form {
    display: inline-flex;
    flex-direction: row;
}

.main__button-more {
    justify-content: center;
    width: 182px;
}

.main__button-more, 
.banners__element--detales-btn {
    align-items: center;
    gap: 8px;
    justify-content: center;
}

.banners__element--caregiving {
    background-color: #2963A2;
    min-height: 288px;
}

.banners__element--caregiving-pics {
    position: absolute;
}

.caregiving-blue-pic,
.caregiving-yellow-pic,
.caregiving-red-pic {
    bottom: -5px;
}

.caregiving-red-pic {
    right: 0px;
}

.caregiving-blue-pic {
    right: 20px;
}

.banners__element--caregiving-title {
    font-size: 36px;
    color: #FFF;
    font-weight: 700;
}

.banners__element--caregiving {
    padding-top: 60px;
}

.banners__element--loading-psychologyst-img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.banners__element--loading-psychologyst-img img {
    display: flex;
    border-radius: 60px;
    height: 120px;
    width: 120px;
}

.banners__element--psychologyst-name p {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    margin-block-start: 1em;
    margin-block-end: 0em;
}

.banners__element--psychologyst-prof p{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.banners__element--psychologyst-detales {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    opacity: 0.3;
}

.banners__element--psychologyst-work {
    border-top: solid 1px #DEDEDE;
    padding-top: 16px;
    margin-top: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: start;
}

.banners__element--psychologyst-work strong{
    font-size: 16px;
}

.banners__element--psychologyst-work ul,
.content-box__top-ancor-links ul {
    list-style: disc;
    color: #03B2A5;
    margin-left: -25px;
    font-size: 24px;
}

.content-box__top-ancor-links--list h3{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-decoration-line: underline;
}

.banners__element--psychologyst-work p {
    color: #333;
}

.banners__element--detales-btn {
    flex-grow: 1;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    background-color: #2963A3;
    justify-content: center;
    padding: 0px 20px 20px 20px;
    margin-top: 40px;
}

@media (min-width: 1024) {
    .footer-container  {
        flex-direction: row;
    }
}

.footer__nav, .footer__subscribe-content {
    display: flex;
    text-align: start;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.footer__subscribe-send-button {
    background-color: #16C8BB;
    padding: 14px 20px;
    max-height: 48px;
    margin-left: -60px;
    align-items: center;
    border-radius: 4px;
}

.footer__nav {
    justify-content: space-between;
    padding: 20px;
}

.footer__list1,
.footer__list2 {
    gap: 16px;
    padding-right: 16px;
}

ul.footer__list1, ul.footer__list2 {
    padding-left: 0px;
}

.footer__link , .footer__subscribe-content{
    color: #FFF;
}

.footer__subscribe-concent {
    color: #BFD0E3;
    text-align: start;
}

.footer__socials {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
}

.footer__participant {
    padding: 20px 0px;
}

.footer__social-badges-container {
    width: 176px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
    justify-content: space-between;
}

.footer__social-badges {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    border-radius: 60px;
    background-color: #EAEAEA;
}

.footer__social-badges img {
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
}

.footer__links-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    border-top: solid 2px #4C74A1;
    padding-top: 20px;
    opacity: 0.7;
}

@media (min-width: 768px) {
    .footer__links-container {
    flex-direction: row;
    }
    .footer__socials {
    align-items: start;
    padding: 20px 0px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .footer__block1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer__nav {
        flex: 1;
    }

    .footer__subscribe-container {
        flex: 2;
    }

    .footer__socials {
        padding-left: 20px;
        flex: 100%;
    }
}

.footer__link {
    font-size: 14px;

}

@media (min-width: 1024px) {
    .footer__block1 {
        display: flex;
        flex-direction: row;
    }
    .footer__nav {
        padding: 20px;
    }

    .footer__socials {
        padding-left: 20px;
    }
}