@import url("font.css");

* {
    box-sizing: border-box;
}

body, 
footer {
    
    color: #333;
    text-align: center;
    font-family: Montserrat, sans-serif;
    padding-left: 16px;
    padding-right: 16px;

}

p {
    font-size: 14px;
 }

a {
    color: #333;
    cursor: pointer;
    text-decoration: none;
}

h1 {
    
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: start;
}

h2 {
    font-size: 18px;
}

.header {
    padding: 8px 16px;
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    border-bottom: 1px solid #EFF5FB;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1000;
}

.header__logo {
    
    display: flex;
    align-items: center;
    justify-content: start;
}

.header__logo img {
    height: 34px;
    width: 48;
}

.header__list {
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 16px;
}

@media (min-width: 768px) {
    .header__list{
        display: flex;
    }
}



.header__link, .header__link-dropdown {
    white-space: nowrap;
}

ul {
    list-style: none;
}

.header__link-dropdown::after {
    content: '';
    display: inline-block;
    height: 14px;
    width: 14px;
    margin-left: 5px;
    justify-content: center;
    background: url('./images/svg/arrow-dropdown.svg') no-repeat;
    margin-right: 10px;
    vertical-align: middle;
}

.header__burger {
    display: none;
    align-items: center;
    justify-content: end;
}

@media (max-width: 767px) {
    .header__burger {
        display: flex;
    }
}

.header__search-psy {
    display: none;
}

@media (min-width: 1024px) {
    .header__search-psy {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .header__button {
        white-space: nowrap;
        background-color: #E3F5F5;
        color: #03B2A5;
        margin-right: 32px;
    }
}

.main__bread-crumbs-list {
    display: flex;
    flex-direction: row;
    margin-left: -40px;
    padding-top: 70px;
}

.main__bread-crumbs-list a {
    color: rgba(51, 51, 51, 0.70);
    font-size: 12px;
    letter-spacing: 0.25px;
}

.main__bread-crumbs-item-main::after ,
.main__bread-crumbs-item-blog::after {
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 10px;
    justify-content: center;
    background: url('./images/svg/arrow.svg') no-repeat;
    margin-right: 10px;
    vertical-align: middle;
}

.topics-container {
    display: flex;
    flex-direction: row;
    margin-left: -40px;
    overflow: hidden;
}

.topic-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 8px;
    margin: 0;

}

.topic-item {
    white-space: nowrap;
    border-radius: 24px;
    border: 1px solid #C1C5CD;
    padding: 6px 8px;
    background: rgba(255, 255, 255, 0.70);
}

@media (max-width: 320px) {
    .topic-list {
        flex-wrap: nowrap;
    }

    .topic-item:nth-child(n+3) {
        display: none;
    }
    
    .topic-item:nth-child(-n+2) {
        display: flex;
    }
}

@media (min-width: 321px) and (max-width: 400px) {
    .topic-list {
        flex-wrap: nowrap;
    }
    
    .topic-item {
        flex-wrap: nowrap;
    }
    .topic-item:nth-child(n+3) {
        display: none;
    }
    
    .topic-item:nth-child(-n+2) {
        display: flex;
    }
}

@media (min-width: 401px) and (max-width: 414px) {
    .topic-list {
        flex-wrap: nowrap;
    }
    
    .topic-item {
        flex-wrap: nowrap;
    }
    .topic-item:nth-child(n+4) {
        display: none;
    }
    
    .topic-item:nth-child(-n+3) {
        display: flex;
    }
}

.topic-item a {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
}

.articles-box {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

section {
    max-width: 384px;
    border: solid #DEDEDE;
    border-radius: 20px;
    margin-top: 24px;
}

@media (min-width: 1024px) {

    .articles-box section {
        max-width: 460px;
        margin: 12px;
    }
    .articles-box section:nth-child(n+3) {
        max-width: 300px;
        margin: 12px;
    }
    .articles-box {
        max-width: 1290px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}


@media (min-width: 768px) and (max-width: 1023px) {

    .articles-box section {
        max-width: 725px;
    }
    .articles-box section:nth-child(n+3) {
        max-width: 336px;
        margin: 12px;
    }
    .articles-box {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}


@media (min-width: 414px) and (max-width: 767px) {
    .articles-box section {
        max-width: 384px;
    }
    .articles-box section:nth-child(n+3) {
        max-width: 384px;
    }
    
}

@media (max-width: 414px) {
    .articles-box section:nth-child(n+5) {
        display: none;
    }
}


.articles h2 {
    font-weight: 700;
    line-height: 26px;
}

.articles__img {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 206px;
    border-radius: 18px 18px 0px 0px;
    background: no-repeat;
    background-position: center;
}

.articles__img .topic-item {
    display: inline-flex;
    max-width: fit-content;
    margin: 8px;
}

.articles__art1:hover {
    cursor: pointer;
}

.articles__section {
    text-align: start;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 400;
}
.articles__title {
    margin-top: 20px;
    align-self: stretch;
    color: #494949;
}

.articles__author p {
    color: #737373; /* Text 12:18 */
    font-size: 12px;
    align-self: stretch;
    line-height: 18px; /* 150% */
    letter-spacing: 0.25px;
}

.articles__content {
    color: #494949; /* Text 12:18 */
    font-size: 14px;
    line-height: 20px; 
    letter-spacing: 0.25px;
}

.articles__date {
    color: #868686;
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
}

.content-box {
    max-width: 690px;
}

.content-box__story--img {
    display: flex;
    flex-flow: column;
    width: 100%;
    background: no-repeat;
    background-position: center;
}

.main__button_container {
    display: flex;
    margin-top: 28px;
    justify-content: center;
    align-items: center;
}

button {
    display: flex;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.footer__subscribe-email-input {
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 14px 52px 14px 16px;
    border-radius: 4px;
    border: none;
}

.footer__subscribe-container--form {
    position: relative;
    display: inline-block;
}

.footer__subscribe-container--form::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-image: url('./images/svg/send.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-color: #16C8BB;
    padding: 10px;
    
}

.main__button-more {
    background-color: #34B3A9;
    color: #ffff;
    justify-content: center;
    align-items: center;
    gap: 8px; 
    margin-bottom: 59px;
    width: 182px;
}



.footer-container {
    display: flex;
    flex-direction: column;
    background-color: #2963A3;
    justify-content: center;
}

.footer__nav, .footer__subscribe-content {
    display: flex;
    text-align: start;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.footer__nav {
    justify-content: space-between;
}

.footer__list1,
.footer__list2 {
    gap: 16px;
    padding-right: 16px;
}

ul.footer__list1, ul.footer__list2 {
    padding-left: 0px;
}

.footer__link , .footer__subscribe-content{
    color: #FFF;
}

.footer__subscribe-concent {
    color: #BFD0E3;
    text-align: start;
}

.footer__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 2px #4C74A1;
    margin-bottom: 20px;
}

.footer__social-badges-container {
    width: 176px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
    justify-content: space-between;
}

.footer__social-badges {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    border-radius: 60px;
    background-color: #EAEAEA;
}

.footer__social-badges img {
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
}

.footer__links-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 37px;
}

.footer__link {
    font-size: 14px;
    opacity: 0.7;
}

@media (min-width: 768px) {
    .footer__block1 {
        display: flex;
        flex-direction: row;
    }
    .footer__nav {
        padding: 16px;
    }
}